body{
    background-image: url("images/fond.jpg");
    background-attachment: scroll;
    background-size: cover;
}
#logo{
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 20px;
    background-color: #97DFC6;
    color: black;
  }
