body{
    background-image: url("images/fond.jpg");
    background-attachment: scroll;
    background-size: cover;
}
#logo{
    display: flex;
    justify-content: center;
}
#logo img{
    width: 600px;
    height: 400px;
}
#video{
    display: flex;
    justify-content: center;
}
iframe{
    width:820px;
    height:515px;
}
p{
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 25pt;
    margin: 50px;
    padding: 20px;
}
#carre{
    display: flex;
    justify-content: center;
}
#form{
    display: flex;
    justify-content: center;
}
#form a{
    width: 10%;
    height: 10%;
    text-align: center;
    color: white;
    font-family: 'Teko',sans-serif;
    font-size: 30pt;
    padding: 30px;
    background-color: #97DFC6;
}

#orga{
    width: 15%;
    height: 15%;
    color: white;
    font-family: 'Teko',sans-serif;
    font-size: 30pt;
    text-align: center;
    padding: 30px;
    background-color: #97DFC6;
    margin: 20px;
}
#service{
    width: 15%;
    height: 15%;
    text-align: center;
    color: white;
    font-family: 'Teko',sans-serif;
    font-size: 30pt;
    padding: 30px;
    background-color: #97DFC6;
    margin: 20px;
}
img{
    width: 80px;
    height: 70px;
}
section {
    
    left: 0;
    margin:30px;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: #97DFC6;
    padding-top: 0;
}  
footer{
    margin: 0 30px;
    color: rgb(255 255 255 / 50%);
}
footer.top{
    position: relative;
    display: grid;
    border-bottom: 2px solid rgb(255 255 255 / 20%);
    padding-bottom: 20px;
}
footer.top > img{
    width: 200px;
    height: 150px;
    margin: 0 auto 50px;
}
footer.top .links{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    margin-bottom: 30px;
}
footer.top .links-colonne{
    display: grid;
    gap: 10px;
    text-align: center;
}
footer.top h2{
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(255 255 255 / 96%);
}
footer.top p{
    margin: 0;
}
footer.top .social{
    position: absolute;
    left: 50%;
    bottom: 10px;
    translate: -50% 0;
    display: flex;
    align-items: center;
    gap: 18px;
    height: 56px;
}
footer.top .social > a{
    font-size: 24px;
}
.colonne-social:is(h2,p){
    display: none;
}
footer.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 8px;
    padding: 20px 0;
    text-align: center;
}
.legal > a{
    margin-right: 4px;
}
.legal .copyright{
    font-size: 12px;
}
@media(width > 400px){
    .links-colonne{
        text-align: left;
    }
    footer.top .links{
        grid-template-columns: repeat(2,1fr);
        margin-right: 50px;
    }
    footer.top .social{
        left: 0;
        translate: 0;
    }
    footer.top > img {
        margin: 0 0 50px;
    }
    footer.bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        text-align: left;
    }
}
@media (width >= 640px){
    footer{
        margin: 0 auto;
        max-width: 580px;
        padding: 0;
    }
    footer.top .links{
        grid-template-columns: repeat(3,1fr);
    }
    footer.top .social{
        position: static;
    }
    footer.bottom{
        justify-content: flex-start;
    }
    .colonne-social:is(h2,p){
        display: block;
    }
}

